{% extends 'base.html.twig' %}

{% block title %}Plus Minus Application{% endblock %}

{% block stylesheets %}
    <style>
        div.content1 {
            margin-left: 70px;
        }
        div.content2 {
            margin-left: 50px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="content1">
        <h1>System PlusMinus</h1>
        <h4>Piotr Lewandowski</h4>
        <h4>{{ currClock }}</h4>
        {% for key, mArray in sqlService.sqlArray %}
            {% if (key % 10 == 0) %}
                <div>
                    <a href="{{ path('route_root', {'mnu': key}) }}">{{ '%02u - '|format(key) }}{{ mArray['title'] }}</a>
                </div>
            {% endif %}
        {% endfor %}
        <div>======</div>
    </div>
    {% if mnu > 0 %}
        <div class="content2">
            <h1 style="visibility: hidden">{{ currClock }}</h1>
            <h4 style="visibility: hidden">{{ currClock }}</h4>
            <h4 style="visibility: hidden">{{ currClock }}</h4>
            {% for key, mArray in sqlService.sqlArray %}
                {% if mnu / 10 == key // 10 and key % 10 != 0 %}
                    {{ include('menu2.html.twig', {curTab: key, aElement: mArray['title']}) }}
                {% endif %}
            {% endfor %}
            <div>======</div>
        </div>
    {% endif %}
{% endblock %}
