{% extends 'base.html.twig' %}

{% block title %}Plus Minus Application{% endblock %}

{% block body %}
    <div class="content1">
        <h1>System PlusMinus</h1>
        <h4>Piotr Lewandowski</h4>
        <h4>{{ currClock }}</h4>
        {% set close = '0' %}
        {% for key, mArray in sqlService.sqlArray %}
            {% if (key % 10 == 0) %}
                {% set close = '0' %}
                {#        {% if app.session.get("menu#{key}") is defined %} #}
                {#            {% if app.session.get("menu#{key}") == '0' %} #}
                {#                {% set close = '1' %} #}
                {#            {% endif %} #}
                {#        {% endif %} #}
                {#        <div> #}
                {#            <a href="{{ path('route_menu') }}/{{ key / 10 }}">{{ '%02u'|format(key) }}</a> #}
                {#        </div> #}
            {% else %}
                {#        {% if close == '0' %} #}
                {{ include('menu2.html.twig', {curTab: key, aElement: mArray['title']}) }}
                {#        {% endif %} #}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
